.form {
  margin: 30px auto;
}

.group-input {
  width: 30%;
  margin: 0 5px
}

.group-input-first {
  width: 30%
}

.input-explain-color{
  color: #f5222d;
}

.group-input {
  width: 30%;
  margin: 0 5px
}
