<form nz-form class="form" [formGroup]="stepFourForm" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-label [nzSpan]="8" nzRequired>Job Name</nz-form-label>
    <nz-form-control [nzSpan]="7">
      <input nz-input formControlName="job_name" placeholder="same as the first time">
      <nz-form-explain *ngIf="stepFourForm.get('job_name').dirty&&stepFourForm.get('job_name').hasError('required')">
        please input job name!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="8" nzRequired>User Email</nz-form-label>
    <nz-form-control [nzSpan]="7" nzHasFeedback>
      <input nz-input type="email" formControlName="user_email">
      <nz-form-explain *ngIf="stepFourForm.get('user_email').dirty&&stepFourForm.get('user_email').errors">
        <ng-container *ngIf="stepFourForm.get('user_email').hasError('required')">please input your email address</ng-container>
        <ng-container *ngIf="stepFourForm.get('user_email').hasError('pattern')">invalid email</ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="8">Design Cst</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input type="file"
             accept=".cst"
             (change)="fileChange($event)">
      <span>Please submit cst format file!</span>&nbsp;&nbsp;
    </nz-form-control>
  </nz-form-item>
  <!--五个范围值-->
  <nz-form-item>
    <nz-form-label [nzSpan]="8" nzRequired>Design mini Range</nz-form-label>
    <nz-form-control [nzSpan]="7">
      <input nz-input type="number" step="0.1" min="4.0" max="25.0"  formControlName="range1" class="group-input" placeholder="6.0">
      <input nz-input type="number" step="0.1" min="4.0" max="25.0" formControlName="range2" class="group-input" placeholder="10.0">
      <input nz-input type="number" step="0.1" min="4.0" max="25.0" formControlName="range3" class="group-input" placeholder="15.0">
      <input nz-input type="number" step="0.1" min="4.0" max="25.0" formControlName="range4" class="group-input" placeholder="20.0">
      <input nz-input type="number" step="1" min="4.0" max="25.0" formControlName="range5" class="group-input" placeholder="10">
      <!--任意一个出现错误-->
      <nz-form-explain *ngIf="(stepFourForm.get('range1').dirty&&stepFourForm.get('range1').hasError('required')) ||
       (stepFourForm.get('range2').dirty&&stepFourForm.get('range2').hasError('required')) ||
(stepFourForm.get('range3').dirty&&stepFourForm.get('range3').hasError('required')) ||
(stepFourForm.get('range4').dirty&&stepFourForm.get('range4').hasError('required')) ||
(stepFourForm.get('range5').dirty&&stepFourForm.get('range5').hasError('required'))">
        please input the complete design_mini_range parameter!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="7" [nzOffset]="8">
      <button nz-button [nzType]="'primary'">Submit</button>
    </nz-form-control>
  </nz-form-item>
</form>
